<%= form_for(@purchase) do |f| %>
	<% if @purchase.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

			<ul>
			<% @purchase.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :customer_id, "Apply to Customer:" %><br>
		<%= f.select :customer_id, @customers.nil? ? [@purchase.customer.name, @purchase.customer_id] : @customers %>
	</div>
	<br>

	<% @products.each do |product| %>
	<div class="field">
		<label><%= product.name %> with quantity: </label>
		<%= hidden_field_tag("purchase[products][][id]", nil, value: "#{product.id}", class: "form-control") %>
		<%= number_field_tag("purchase[products][][quantity]", nil, min: 0, value: 0, class: "form-control") %>
	</div>
	<br>
	<% end %>

	<br>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>