<h1>Purchase Details</h1>

<% if !@purchase.blank? %>
<table>
	<tr>
			<td colspan="4">Product ID:</td>
			<td><%= @purchase.id %></td>
	</tr>

	<tr>
			<td colspan="4">Customer Name:</td>
			<td><%= @purchase.customer.name %></td>
	</tr>

	<tr>
		<td colspan="5"><hr></td>
	</tr>

	<tr>
			<td>Products</td>
			<td>Original Price</td>
			<td>Discount Applied</td>
			<td>Discount Rate</td>
			<td>Total</td>
	</tr>

	<% @purchase.products_purchases.all.each do |purchased_product| %>
		<% product = purchased_product.product %>
		<% discount = Discount.find_by(id: purchased_product.discount_id) %>

		<tr>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
				<td><%= discount.blank? ? "-" : DiscountsHelper::DISCOUNT_TYPE.key(discount.discount_type) %></td>
				<td><%= discount.blank? ? "N/A" : discount.rate %></td>
				<td><%= purchased_product.charged %></td>
		</tr>
	<% end %>

	<tr>
		<td colspan="5"><hr></td>
	</tr>

	<tr>
		<td colspan="4">Total (USD): </td>
		<td><%= @purchase.total %></td>
	</tr>

	<tr>
		<td colspan="5"><hr></td>
	</tr>

	<tr>
		<td colspan="3"><%= link_to 'Delete This Purchase', @purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<td colspan="2"><%= link_to "Back to List", purchases_path %></td>
	</tr>
</table>
<% else %>
<h2>Can't find the user. Action?</h2>
<table>
	<tr>
		<td><%= link_to 'Select A Purchase', purchases_path %></td>
		<td><%= link_to "Create New Purchase", new_purchase_path %></td>
	</tr>
</table>
<% end %>